<html>
    <head>
        <style>
            @import 'https://fonts.googleapis.com/css?family=Inconsolata';
            body {
                background-color: #222;
                color: #CCC;
                font-family: 'Inconsolata', monospace;
                font-size: 12pt;
                padding: 30px;
                position: relative;
                letter-spacing: -1px;
            }
            a, a:hover, a:visited, a:active, a:focus {
                text-decoration: none;
                color: #999;
            }
            a:hover {
                color: #CCC;
            }
            label {
                width: 100px;
                display: inline-block;
                position: relative;
            }
            h1 {
                padding-bottom: 20px;
                letter-spacing: 0px;
                display: block;
            }
            input, select {
                margin: 5px 0px;
                vertical-align: middle;
                border: 1px solid #777;
                padding: 5px 10px;
            }
            input[type=range] {
                padding: 0px;
                border-radius: 10px;
                border: 1px solid #222;
                margin-right: 5px;
            }
            h3 {
                letter-spacing: 0px;
                margin-top: 30px;
            }
            .launch, .launch:visited {
                background-color: rgba(0,190,0,.7);
                text-align: center;
                padding: 20px;
                display: inline-block;
                margin-bottom: 20px;
                color: white;
                border: 1px solid green;
                font-weight: bold;
                cursor: pointer;
                width: 200px;
            }
            .launch:hover {
                    background-color: rgba(0,190,0,.5);
            }
            .launch:active {
                border: 1px solid darkgreen;
                background: darkgreen;
            }
            .poweroff, .poweroff:visited {
                border: 1px solid red;
                background-color: rgba(190,0,0,.7);
            }
            .poweroff:hover {
                color: white;
                background-color: rgba(190,0,0,.5);
            }
            .poweroff:active {
                border: 1px solid darkred;
                background-color: darkred;
            
            }
            fieldset {
                margin: 20px 0px;
            }
        </style>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    </head>
    <body>
        <h1>PyKVMBootManager</h1>
        <!-- <div> -->
        <!--     {{cli}} -->
        <!-- </div>             -->
        <pre>
            {{err}}
        </pre>
        <div>
            <a class='launch' href='/'>Back To Bootmenu</a>
        </div>
        <div>
            <a class='poweroff launch' href='/poweroff'><i class='fa fa-power-off'></i> Power Off</a>
        </div>
    </body>
</html>

